*.a
*.so
*.exe
*.pyc
*.log
*.dll
*.out
*.key
_test
*.test
*.cert
*.exe~
go.work
.Trash-*
.DS_Store
go.work.sum
main.out.bin
*gitignore*secrets*
*gitignore*outputs*
ehthumbs.db
Thumbs.db
.gitkeep
.vscode/
*.dylib
vendor/
.idea/
*.err
*.swp
_obj
tmp/
bin/
tags
*.DB
*.db
*.o
*~
